<%= stylesheet_link_tag "style_for_play_active.css" %>


<div class="container">
  <%= form_with model: Game.new, url: games_path, method: :post do |form| %>
    <div class="row form-group mb-5 texto ">
      <%= form.hidden_field :challenger_id, value: current_user.id %>
      <%= form.hidden_field :challengee_id, value: user.id %>
      <div class="col-4 p-0" onclick="toggleOptions(this)">
        <%= content_tag(:span, "#{user.email}", class:"input-group-text w-100 textoo") %>
      </div>
      <div class="col-4 p-0 second-change first-name texto-1" style="display: none;">
        <%= form.select :color, 
          options_for_select([['White', 'white'], ['Black', 'black'], ['Random', 'random']],
          ),{}, {class:"texto-1 form-select w-100"} %>
      </div>
      <div class="col-4 p-0 third-play first-name " style="display: none;">
        <%= form.submit "Challenge", class:"btn btn-primary w-100 jp" %>
      </div>
    </div>
  <% end %>
</div>



<script>
function toggleOptions(element) {
  var siblings = element.parentNode.children;
  for (var i = 0; i < siblings.length; i++) {
    var sibling = siblings[i];
    if (sibling !== element) {
      if (sibling.style.display === 'none') {
        sibling.style.display = 'block';
      } else {
        sibling.style.display = 'none';
      }
    }
  }
}

</script>
