<p style="color: green; font-size: 18px; font-weight: bold; margin-bottom: 10px;"><%= notice %></p>

<div class="text-center d-flex justify-content-between" style="border: 1px solid #004080; padding: 15px; margin: 20px;">
  <%= render @game %>

  <div style="margin-left: 20px; margin-top: 10px;">
    <h2 style="color: #004080; font-size: 24px; font-weight: bold;">Game Information</h2>
    <p style="color: #004080; font-size: 18px; font-weight: bold; margin-bottom: 10px;">Game ID: <span style="color: #33CCFF; font-weight: bold;"><%= @game.id %></span></p>
    <p style="color: #004080; font-size: 18px; font-weight: bold; margin-bottom: 10px;">Your Email: <span style="color: #33CCFF; font-weight: bold;"><%= current_user.email %></span></p>

    <% if current_user.id == @game.white_player_id || current_user.id == @game.black_player_id %>
      <% opponent_id = (current_user.id == @game.white_player_id) ? @game.black_player_id : @game.white_player_id %>
      <p style="color: #004080; font-size: 18px; font-weight: bold; margin-bottom: 10px;">Opponent's Email: <span style="color: #33CCFF; font-weight: bold;"><%= User.find_by(id: opponent_id)&.email %></span></p>
      <p style="color: #FFA500; font-size: 18px; font-weight: bold; margin-bottom: 10px;">You are participating in this game.</p>
      <div style="margin-top: 10px;">
        <%= button_to "Destroy this game", @game, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
      </div>
    <% else %>
      <p style="color: #FFA500; font-size: 18px; font-weight: bold; margin-bottom: 10px;">You are observing this game.</p>
    <% end %>
  </div>
</div>

<div style="margin-top: 20px;">
  <%= link_to "Back to games", games_path, class: 'btn btn-primary', style: 'margin-left: 10px;' %>
</div>
<%= link_to 'Go back', root_path, class: 'btn btn-primary button-to-back', title: "Chesser-Web", style: 'display: block; margin: 20px auto; color: #004080; font-weight: bold;' %>
