<div class="bflogin centered">
<h2 class="loginn" title="Complete this form.">Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs formmm centered wroeo1">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email", class: "centered wroeo" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password", class: "centered wroeo" } %>
   
  </div>

  <div class="form-actions centered">
    <%= f.button :submit, "Log in", class: "centered loginna" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
